<div class="team-container">
  <div class="team-card">
    <div class="card-header">
      <img src="/images/img1.jpeg" alt="CEO">
    </div>
    <div class="card-body">
      <h3>CEO</h3>
      <p>CEO ki tarif</p>
    </div>
  </div>

  <div class="team-card">
    <div class="card-header">
      <img src="/images/img1.jpeg" alt="Co-Founder">
    </div>
    <div class="card-body">
      <h3>Co-Founder</h3>
      <p>Co-Founder ji ki tarif</p>
    </div>
  </div>

  <div class="team-card">
    <div class="card-header">
      <img src="/images/img1.jpeg" alt="Director">
    </div>
    <div class="card-body">
      <h3>Director</h3>
      <p>Director ji ki tarif</p>
    </div>
  </div>
</div>
