<div class="carousel-container">
    <div class="carousel-slide active" style="background-image: url('/images/apple.jpg');">
      <div class="carousel-text">
        <h2>चाहे जैसी भी हो लड़ाई,<br>सबका इलाज़ है पढ़ाई</h2>
      </div>
    </div>
     <div class="carousel-slide active" style="background-image: url('/images/chess-2.jpg');">
      <div class="carousel-text">
        <h2>चाहे जैसी भी हो लड़ाई,<br>सबका इलाज़ है पढ़ाई</h2>
      </div>
    </div>
     <div class="carousel-slide active" style="background-image: url('/images/windmills.jpg');">
      <div class="carousel-text">
        <h2>चाहे जैसी भी हो लड़ाई,<br>सबका इलाज़ है पढ़ाई</h2>
      </div>
    </div>

    <!-- Add more slides as needed -->

    <button class="carousel-btn prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-btn next" onclick="nextSlide()">&#10095;</button>
  </div>