<div class="carousel-container">

  <div class="carousel-slide active" style="background-image: url('/images/girl1.jpg');">
    
  </div>

  <div class="carousel-slide" style="background-image: url('/images/girl2.webp');">
    
  </div>

  <div class="carousel-slide" style="background-image: url('/images/girl3.png');">
    
  </div>


  <button class="carousel-btn prev" onclick="prevSlide()">&#10094;</button>
  <button class="carousel-btn next" onclick="nextSlide()">&#10095;</button>
</div>
