<div class="carousel-container">

  <div class="carousel-slide active" style="background-image: url('/images/Main_banner.png');">
    
  </div>

  <div class="carousel-slide" style="background-image: url('/images/img1.png');">
    
  </div>

  <div class="carousel-slide" style="background-image: url('/images/img2.png');">
    
  </div>

  <div class="carousel-slide" style="background-image: url('/images/girl3.png');">
    
  </div>




  <button type="button" class="carousel-btn prev">&#10094;</button>
  <button type="button" class="carousel-btn next">&#10095;</button>
</div>
