 <div class="page" style="background-image: url('/images/image.png'); background-size: cover; background-position: center;">
    <div class="page-wrapper des">
      <h1 class="des">Gatimaan</h1>
      <p class="des">Expert Guidance | Real Results | Tailored Consulting for Your Success.</p>

      <div class="container des">
        <div class="item des">
          <i class="fa-solid fa-child-reaching"></i>
          <p>Students</p>
          <div class="number des" id="projects">0+</div>
        </div>
        <div class="item des">
          <i class="fa-solid fa-hands-holding-child"></i>
          <p>Happy Parents</p>
          <div class="number des" id="clients">0+</div>
        </div>
        <div class="item des">
          <i class="fa-solid fa-face-smile"></i>
          <p>Satisfaction</p>
          <div class="number des" id="satisfaction">0%</div>
        </div>
      </div>
    </div>
  </div>