 <div class="page">
    <div class="page-wrapper">
      <h1>Gatiman</h1>
      <p>Expert Guidance | Real Results | Tailored Consulting for Your Success.</p>

      <div class="container">
        <div class="item">
          <i class="fa-solid fa-child-reaching"></i>
          <p>Students</p>
          <div class="number" id="projects">0+</div>
        </div>
        <div class="item">
          <i class="fa-solid fa-hands-holding-child"></i>
          <p>Happy Parents</p>
          <div class="number" id="clients">0+</div>
        </div>
        <div class="item">
          <i class="fa-solid fa-face-smile"></i>
          <p>Satisfaction</p>
          <div class="number" id="satisfaction">0%</div>
        </div>
        <div class="item">
          <i class="fa-solid fa-people-group"></i>
          <p>Team</p>
          <div class="number" id="team">0</div>
        </div>
      </div>
    </div>
  </div>