<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

<header class="navbar">
  <div class="logo">  <button>GATIMAAN</button></div>
  
  <button class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <ul class="nav-links">
    <li class="available"><a href="/">Home</a></li>
    <li><a href="/layout/about">About</a></li>
    <li><a href="/layout/courses">Courses</a></li>
    <li><a href="/layout/contact">Contact</a></li>
    <li><a href="/news">News & Events</a></li>
  </ul>
</header>

<script>
function toggleMenu() {
  const hamburger = document.querySelector('.hamburger');
  const navLinks = document.querySelector('.nav-links');
  
  hamburger.classList.toggle('active');
  navLinks.classList.toggle('active');
}
</script>

<script>
  const navItems = document.querySelectorAll('.nav-links li');

  navItems.forEach(item => {
    item.addEventListener('click', () => {
      navItems.forEach(i => i.classList.remove('available'));
      item.classList.add('available');
    });
  });
</script>

