<header class="navbar">
  <div class="logo">Gatimaan</div>

  <button class="hamburger" id="hamburger">
    ☰
  </button>

  <nav class="nav-links" id="nav-links">
    <button class="nav-btn"><a href="/">Home</a></button>
    <button class="nav-btn"><a href="/layout/courses" class="highlight">Courses</a></button>
    <button class="nav-btn"><a href="/layout/about">About</a></button>
    <button class="nav-btn"><a href="/layout/contact">Contact</a></button>
    <button class="nav-btn"><a href="/news" class="highlight">News & Event</a></button>
  </nav>

  <div class="contact-button">
    Call us : +91 0000000000 <br>
    Email us : account@gatimaan.com
  </div>
</header>

<script>
  document.getElementById('hamburger').addEventListener('click', function () {
  document.getElementById('nav-links').classList.toggle('active');
});
</script>

