<section class="testimonial-section">
  <div class="container position-relative">
    <!-- Quote Icon (Top Left) -->
    <img 
      src="https://odoocdn.com/openerp_website/static/src/img/snippets/s_wd_testimonials/quote.svg"  
      height="50" 
      class="position-absolute top-0 start-0 translate-middle d-none d-md-inline" 
      alt="Quote Icon" 
      loading="lazy"
    >

    <div class="row justify-content-center g-0 bg-200 rounded-2 p-4 p-md-6">
      <!-- Testimonial Text Section -->
      <div class="col-lg-8 pb-3 pb-lg-0">
        <blockquote class="blockquote border-0 p-0 fst-normal">
          <p class="fw-bold fs-4 mb-0 author-title">
            "मुसीबतें आएंगी हज़ार,
पढ़ाई से ही मिलेगा संसार में सम्मान और अधिकार।
शिक्षा ही है असली उपहार।"
          </p>
        </blockquote>
      </div>

      <!-- Author & Logo Section -->
      <div class="col-lg-4 d-sm-flex flex-lg-column align-items-center align-items-lg-end">
        <!-- Avatar Image -->
        <img 
          src="/images/CEO image-modified.png" 
          alt="Dr. Bharat Bhushan Sharma" 
          class="d-sm-block rounded-circle mt-lg-n7 mb-lg-3 me-3 me-lg-0 CEO-img" 
          height="70" 
          loading="lazy"
        >

        <!-- Author Name & Title -->
        <div class="flex-grow-1 text-lg-end CEO-title">
          <b>Dr. Bharat Bhushan Sharma</b><br>
          <small>Ph.D., M.Com, MBA, MA(Economics), MA(Yogic Sciences)</small>
        </div>

      </div>
    </div>
  </div>
</section>