<section class="testimonial-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="testimonial-card">
            <img src="/images/CEO image-modified.png"  alt="Client Picture" class="testimonial-image des">
            <div class="testimonial-content">
              <p class="testimonial-quote des">
                "चाहे जैसी भी हो लड़ाई, सबका इलाज है पढ़ाई।"
              </p>
              <p class="testimonial-author des">
                - Dr. Bhrat Bhushan Sharma
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>