<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <a href="https://wa.me/+918279980079?text=Hi%20I'm%20interested%20in%20your%20course!"
   target="_blank"
   class="fixed bottom-12 right-1 z-50 bg-transparent text-white p-3 lg:mb-5 sm:mb-2 flex items-center justify-center transition-all duration-300 hover:scale-105">

  <img src="/images/whatsap.png" alt="WhatsApp icon" class="h-10 sm:h-12 sm:w-12">

</a>

</body>
</html>
