/* @import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  background-color: #133b45;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
    padding: 2px 25px;
}

.logo img {
  height: 50px;
}

.nav-center ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-center a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.nav-center a.active,
.nav-center a:hover {
  background-color: #e1d0b1;
  color: #000;
}

.contact-info {
  text-align: right;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  display: flex;
}

.contact-info p {
    padding: 10px;
}
