<!DOCTYPE html>
<html>
<head>
  <title>Home - Consultancy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% include partials/header %>
  <main>
    <h1>Welcome to Growth Well Education</h1>
  </main>
</body>
</html>
